OPENAI_API_KEY=your_openai_api_key_here

#n8n:
#productionURL:
N8N_WEBHOOK_URL=http://localhost:5678/webhook/restaurant 

#Test URL:
#N8N_WEBHOOK_URL=http://localhost:5678/webhook-test/restaurant

